@model List<TablaPeriodica.Models.ElementosT>

@{ 
    Layout = null;
    string color = "";
}

<!DOCTYPE html>

<html>
<head>

    <title>Tabla Periodica de Los Elementos</title>
    <link href="~/css/DesignTP.css" rel="stylesheet" />

</head>
<body>
    <div>

        <div class="grid-container">


            @foreach (var item in Model)
            {
                @switch (item.Clasificacion)
                {
                    case "Otros No Metales":
                        color = "OtrosNoMetales";
                        break;
                    case "Gases Nobles":
                        color = "GasesNobles ";
                        break;
                    case "Alcalinos":
                        color = "Alcalinos";
                        break;
                    case "Alcalinoterreos":
                        color = "Alcalinoterreos";
                        break;
                    case "Metaloides":
                        color = "Metaloides";
                        break;
                    case "Otros Metales":
                        color = "OtrosMetales";
                        break;
                    case "Halogenos":
                        color = "Halogenos";
                        break;
                    case "Lantanidos":
                        color = "Lantanidos";
                        break;
                    case "Actinidos":
                        color = "Actinidos";
                        break;
                    case "Metales de Transiccion / Bloque D":
                        color = "BloqueD";
                        break;
                    


                }
                int index = Model.IndexOf(item);

                <div class="item @color">
                    <h4 class="item-title">@item.Name</h4>
                    <p class="item-name">@item.Elements</p>
                    <p class="item-name">@item.Clasificacion</p>
                </div>
                if (index == 0)
                {
                    <div class="space-blank1"></div>
                }
                else if (index == 3 || index == 11)
                {
                    <div class="space-blank2"></div>
                }
                else if (item.Name == "Og 118")
                {
                    break;
                }
            }
        </div>
        <br />
        <div class="grid-container">


            @foreach (var item in Model)
            {
                @switch (item.Clasificacion)
                {
                    case "Lantanidos":
                        color = "Lantanidos";
                        break;
                    case "Actinidos":
                        color = "Actinidos";
                        break;

                }

                int index = Model.IndexOf(item);

                if (index == 89)
                {
                    <div class="space-blank-second-grid"></div>
                }

                if (index >= 90)
                {
                    <div class="item @color">
                        <h4 class="item-title">@item.Name</h4>
                        <p class="item-name">@item.Elements</p>
                        <p class="item-name">@item.Clasificacion</p>
                    </div>
                }

            }
        </div>

        <br />
        <div class="leyenda-grid">
            <div class="leyenda-item leyenda-item-header1 color-header-leyendas">
                <span>Metales</span>
            </div>
            <div class="leyenda-item leyenda-item-header2 Metaloides">
                <span>Metaloides</span>
            </div>
            <div class="leyenda-item leyenda-item-header3 color-header-leyendas">
                <span>No Metales</span>
            </div>
            <div class="leyenda-item leyenda-item-column-span-2 Alcalinos">
                <span>Alcalinos</span>
            </div>
            <div class="leyenda-item leyenda-item-column-span-2 Alcalinoterreos">
                <span>Alcalinoterreos</span>
            </div>
            <div class="leyenda-item leyenda-item-column-span-2 BloqueD" style="line-height:25px;">
                <span>Metales de Transicion / Bloque D</span>
            </div>
            <div class="leyenda-item leyenda-item-column-span-2" style="overflow: hidden; line-height: 30px;">
                <div style="border-bottom: 1px solid black;" class="Lantanidos">
                    <span>Lantanidos</span>
                </div>
                <div class="Actinidos">
                    <span>Actinodos</span>
                </div>
            </div>
            <div class="leyenda-item leyenda-item-column-span-2 OtrosMetales">
                <span>Otros Metales</span>
            </div>

            <div class="leyenda-item leyenda-item-column-span-2 OtrosNoMetales">
                <span>Otros No Metales</span>
            </div>
            <div class="leyenda-item leyenda-item-column-span-2 Halogenos">
                <span>Halogenos</span>
            </div>
            <div class="leyenda-item leyenda-item-column-span-2 GasesNobles">
                <span>Gases Nobles</span>
            </div>
        </div>













    </div>
</body>
</html>

